{% extends "core.html" %}
{% block content %}
<style>
  body {
    font-family: serif;
  }
  table {
    border: medium solid darkslategray;
  }
  .book[data-borrowed] {
    font-size: small;
    font-style: italic;
  }
  .separator {
    background-color: darkslategray;
    border: none;
  }
  .book .isbn {
    font-family: monospace;
  }
</style>
<h1>{{ title }}</h1>
<table border="1">
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Description</th>
      <th>Language</th>
      <th class="separator"></th>
      <th>Warehouse</th>
      <th>Current user</th>
      <th class="separator"></th>
      <th>ISBN</th>
    </tr>
  </thead>
  <tbody>
    {% for book in books %}
    <tr class="book" {% if book.borrower %}data-borrowed {% endif %}>
      <td class="title">{{ book.title }}</td>
      <td class="author">{% if book.author %}{{ book.author }}{% endif %}</td>
      <td class="description">{% if book.description %}{{ book.description }}{% endif %}</td>
      <td class="language">{% if book.language %}{{ book.language }}{% endif %}</td>
      <td class="separator"></td>
      <td class="current_warehouse">{{ book.current_warehouse }}</td>
      <td class="borrower">{% if book.borrower %}<a title="{{ book.loan_time }}">{{ book.borrower }}</a>{% endif %}</td>
      <td class="separator"></td>
      <td class="isbn">{% if book.isbn %}{{ book.isbn }}{% else %}unknown{% endif %}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock content %}
