{% extends "core.html" %}
{% block content %}
<style>
  .book[data-borrowed] {
    font-size: small;
  }
</style>
<h1>{{ title }}</h1>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Description</th>
      <th>Language</th>
      <th class="separator"></th>
      <th>Warehouse</th>
      <th>Current user</th>
      <th class="separator"></th>
      <th>ISBN</th>
    </tr>
  </thead>
  <tbody>
    {% for book in books %}
    <tr class="book" {% if book.borrower %}data-borrowed {% endif %}>
      <td>{{ book.title }}</td>
      <td>{% if book.author %}{{ book.author }}{% endif %}</td>
      <td>{% if book.description %}{{ book.description }}{% endif %}</td>
      <td>{% if book.language %}{{ book.language }}{% endif %}</td>
      <td class="separator"></td>
      <td>{{ book.current_warehouse }}</td>
      <td>{% if book.borrower %}<a title="{{ book.loan_time }}">{{ book.borrower }}</a>{% endif %}</td>
      <td class="separator"></td>
      <td>{% if book.isbn %}{{ book.isbn }}{% else %}unknown{% endif %}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock content %}
